In [2]:
#arithmetic opertor
#=+-/*//%**

In [12]:
a=5
b=10
print(a+b)

15

In [13]:
a/b           #divide

0.5

In [14]:
a**b                  # multiple

9765625

In [16]:
a*b     # multiple

50

In [18]:
a%b       # precent

5

In [19]:
a//b

0

In [20]:
a+b

15

In [21]:
a-b

-5

In [22]:
# assig,ment

In [23]:
#=,<,>,=+,=-,=/,=*,=**,=>>,=<<

In [24]:
a

5

In [25]:
b

10

In [62]:
a=50
b=40

In [63]:
a**=b

In [64]:
a+=b

In [65]:
a//=b

In [66]:
a**=b

In [67]:
a>>=b

In [68]:
a<<=b

In [69]:
# comparison

In [70]:
#==,=!,>,<,>=,<=

In [73]:
p=3
o=5

In [75]:
p==o

False

In [76]:
p>=o

False

In [77]:
p<=o

True

In [78]:
p!=o

True

In [79]:
p>o

False

In [80]:
p<o

True

In [81]:
## locigal

In [83]:
# and 
#or
#not

In [92]:
if 10 <30 and 30>40:      ##  return true if both statement are true
    print( " chla na" )
else:
    print( " traveling")

 traveling

In [96]:
if 10 <30 or 30>40:      ##  return true if one of the statement is true
    print( " chla na" )
else:
    print( " traveling")

 chla na

In [97]:
# identity

In [111]:
a=[ "car", " bikerider"]

In [116]:
print("car" in a)

True

In [117]:
print( " bikerider" in a)

True

In [118]:
a=[ "car", " bikerider"]
print( " bike " not in a)

True