In [1]:
a=()        ### not a set
type(a)

tuple

In [2]:
b=set()      ##this is set
print(type(b))

<class 'set'>

In [3]:
# set is not literal

In [9]:
a={1,1,2,3,2,3,4,4,5,6,7,7,8,8,9,9,}         ## duplicates not allioed 
                                          ##set aannot have tow item with the same value
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
a={1,2,3,4,[1,2,3]}

TypeError: unhashable type: 'list'

In [12]:

a={1,2,3,4,(1,2)}

In [14]:
print(type(a))

<class 'set'>

In [36]:
a.add("rajput")            # add method

In [16]:
print(a)

{1, 2, 3, (1, 2), 4, 'rajput'}

In [18]:
a.add("acha")

In [19]:
print(a)

{1, 2, 3, (1, 2), 4, 'rajput', 'acha'}

In [21]:
a.add(["4,5,6,7"])

TypeError: unhashable type: 'list'

In [22]:
a

{(1, 2), 1, 2, 3, 4, 'acha', 'rajput'}

In [23]:
### set does not suppport indexing and sllicing

In [24]:
a[1]

TypeError: 'set' object is not subscriptable

In [25]:
a[-3]

TypeError: 'set' object is not subscriptable

In [26]:
##  set does not support concatination

In [33]:
a={(1, 2), 1, 2, 3, 4, 'acha', 'rajput'}
(id(a)),type(a)

(1839620922208, set)

In [28]:
b={(1, 2), 1, 2,  4, 'rajput'}

In [34]:
(type(a)),id(b)

(set, 1839633000800)

In [37]:
#method

In [38]:
a

{(1, 2), 1, 2, 3, 4, 'acha', 'rajput'}

In [40]:
a.intersection(b)

{(1, 2), 1, 2, 4, 'rajput'}

In [41]:
a={1,2,3,4,5}
b={5,6,7,8,9}

In [42]:
a.intersection(b)

{5}

In [43]:
b.intersection(b)

{5, 6, 7, 8, 9}

In [44]:
a.intersection_update(b)

In [49]:
print(a)
a={1,2,3,4,5}

{5}

In [50]:
print(b)

{5, 6, 7, 8, 9}

In [51]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [52]:
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [58]:
a.difference(b)              # unique value   {5}

{1, 2, 3, 4}

In [56]:
b.difference(a)

{6, 7, 8, 9}

In [59]:
a

{1, 2, 3, 4, 5}

In [60]:
b

{5, 6, 7, 8, 9}

In [61]:
a.difference_update(b)

In [62]:
a

{1, 2, 3, 4}

In [63]:
b

{5, 6, 7, 8, 9}

In [64]:
a.add("anu")

In [65]:
a

{1, 2, 3, 4, 'anu'}

In [66]:

a.clear()

In [67]:
a

set()

In [103]:
a={1,2,3,4,5}
b={5,6,7,8,9}

In [104]:
a

{1, 2, 3, 4, 5}

In [105]:
b

{5, 6, 7, 8, 9}

In [106]:
a.discard(1)        ## not error and again print

In [107]:
a

{2, 3, 4, 5}

In [108]:
a.remove(2)               ## again print this is error method

In [109]:
a

{3, 4, 5}

In [110]:
a.pop()      ### first value remove

3

In [113]:
a={1,2,3,4,}
b={5,6,7,8,9}
a.isdisjoint(b)   # that is no commam

True

In [118]:
a={1,2,3,5}
b={5}

a.issubset(b)

False

In [119]:
b.issubset(a)

True

In [120]:
a.issuperset(b)

True

In [121]:
b.issuperset(a)

False

In [123]:
a.symmetric_difference(b)      # different

{1, 2, 3}

In [124]:
a

{1, 2, 3, 5}

In [125]:
a.symmetric_difference_update(b)

In [126]:
a

{1, 2, 3}