In [1]:
a=tuple()          ### concatructor is tuple
print(a,type (a))

() <class 'tuple'>

In [2]:
b=()
print(b,type(b))  #### literal is tuple

() <class 'tuple'>

In [27]:
c= tuple(["prashant"])

In [28]:
print(c)

('prashant',)

In [29]:
print(type(c))

<class 'tuple'>

In [30]:
c.count("rajput")

0

In [33]:
a=tuple("prashant,",76)

TypeError: tuple expected at most 1 argument, got 2

In [34]:
a=tuple("prahant,singh,rajput")

In [35]:
a

('p',
 'r',
 'a',
 'h',
 'a',
 'n',
 't',
 ',',
 's',
 'i',
 'n',
 'g',
 'h',
 ',',
 'r',
 'a',
 'j',
 'p',
 'u',
 't')

In [36]:
a=tuple("prashant,",7.6)

TypeError: tuple expected at most 1 argument, got 2

In [37]:
a=tuple("prashant,7.6")

In [38]:
a

('p', 'r', 'a', 's', 'h', 'a', 'n', 't', ',', '7', '.', '6')

In [43]:
a= (10,20["prashant"],40,90)

<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
C:\Users\Gaurav\AppData\Local\Temp\ipykernel_10116\2765267430.py:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  a= (10,20["prashant"],40,90)

TypeError: 'int' object is not subscriptable

In [42]:
type(a)

tuple

In [49]:
a= (10,20,44,77,88,9,45,67,40,90)
a[3]

77

In [52]:
a[2:4:1]

(44, 77)

In [53]:
a[2:4:2]

(44,)

In [54]:
a[:1]

(10,)

In [55]:
a[2:]

(44, 77, 88, 9, 45, 67, 40, 90)

In [56]:
a[-2]

40

In [57]:
a[-2:1:-1]

(40, 67, 45, 9, 88, 77, 44)

In [58]:
a

(10, 20, 44, 77, 88, 9, 45, 67, 40, 90)

In [59]:
a[::2]

(10, 44, 88, 45, 40)

In [60]:
a=1,2,3,4,5,6,7,8,9,10

In [63]:
print(type(a),id(a))

<class 'tuple'> 2408122153792

In [64]:
a[::2]

(1, 3, 5, 7, 9)

In [65]:
a[1::2]

(2, 4, 6, 8, 10)

In [66]:
a[-::2]

SyntaxError: invalid syntax (415041472.py, line 1)

In [67]:
a[-1::-2]

(10, 8, 6, 4, 2)

In [68]:
a[-1]

10

In [71]:
a=(prahant,singh,rajput'[])

NameError: name 'prahant' is not defined

In [70]:
print(type(a))

<class 'str'>

In [72]:
c=tuple("prashant, singh , rajput")

In [73]:
c[::]

('p',
 'r',
 'a',
 's',
 'h',
 'a',
 'n',
 't',
 ',',
 ' ',
 's',
 'i',
 'n',
 'g',
 'h',
 ' ',
 ',',
 ' ',
 'r',
 'a',
 'j',
 'p',
 'u',
 't')

In [74]:
a[1::7]

'rsa'

In [75]:
print(c)

('p', 'r', 'a', 's', 'h', 'a', 'n', 't', ',', ' ', 's', 'i', 'n', 'g', 'h', ' ', ',', ' ', 'r', 'a', 'j', 'p', 'u', 't')

In [77]:

c=tuple("prashant, singh , rajput")
i=set(c)
print(i)

{'h', 's', ',', 'n', ' ', 'u', 'p', 'a', 'i', 'r', 'g', 'j', 't'}

In [78]:
type(i)

set